
body {
  overflow-x: hidden;
}

nav * {
    color: white !important;
}

nav {
  background-color: black;
}

.navbar-brand:hover,
.nav-link:hover {
    color:rgba(210, 210, 43, 0.779) !important;
}

@media (max-width: 471px){
    .navbar-brand{
        display: none;
    }
    .navbar-toggler{
        margin: auto;
    }
}

.nav-fondo-negro {
  background-color: #000000;
}

.nav-fondo-transparente {
  background-color: rgba(0, 0, 0, 0.9);
}

.neon-text {
  color: #ffffff;
  text-shadow: 
      0 0 2px rgba(210, 210, 43, 0.779), 
      0 0 5px rgba(210, 210, 43, 0.779),   
      0 0 10px rgba(210, 210, 43, 0.5);    
}

.neon-text:hover{
    color: white !important;
    transform: scale(1.1);
}

@media(max-width: 991px) {
    .navbar-collapse ul li{
        margin: auto !important;
    }
}

@media(min-width: 992px){
    #navbarNavDropdown{
        justify-content: end !important;
        padding-right: 45px;
    }
}

#imagen-perfil{
  filter: grayscale(100%);
}

.hero {
    width: 100%;
    min-height: 60vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    background: #0f0c29; background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  }
  
  .hero h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
  }
  
  .hero p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }
  
  .hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 640px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 13px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }

.typed{
    border-bottom: 1px solid gray;
}

#SobreMi{
  background-image: url('/assets/img/fondo-inicio.png');
  background-size: cover;        
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (min-width: 992px){
  #SobreMi {
      height: 425px;
  }
  #imagen-perfil{
    max-width: 350px;
    margin: auto;
  }
  #SobreMi .descripcion{
    font-size: 17px;
  }
}

@media (max-width: 991px) {
    #SobreMi .container{
        margin: auto;
        text-align: center;
    }
    #imagen-perfil{
        max-width: 350px;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    #imagen-perfil{
        max-width: 390px;
        margin: auto;
    }
    #BotonVerTestimonioUno h6,
    #BotonVerTestimonioDos h6{
        font-size: 12px !important;
    }
    #TestimonioUno,
    #TestimonioDos{
        font-size: 12px;
    }
    #SobreMi .descripcion{
      font-size: 15px;
    }
}

@media (min-width: 641px) and (max-width: 767px) {
    #SobreMi h1{
        font-size: 40px;
    }
    #SobreMi .descripcion{
      font-size: 15px;
    }
    #imagen-perfil{
        max-width: 340px;
        margin: auto;
    }
}

@media (min-width: 491px) and (max-width: 640px) {
    #SobreMi .descripcion{
      font-size: 15px;
    }
    #imagen-perfil{
        max-width: 290px;
        margin: auto;
    }
}
@media (max-width: 490px) {
    #SobreMi .descripcion{
        font-size: 15px;
    }
    #imagen-perfil{
        max-width: 250px;
        margin: auto;
    }
}
@media (max-width: 421px) {
    #SobreMi .descripcion{
        font-size: 15px;
    }
    #imagen-perfil{
        max-width: 230px;
        margin: auto;
    }
}
@media (max-width: 396px) {
    #SobreMi .descripcion{
        font-size: 11px;
    }
    #imagen-perfil{
        max-width: 210px;
        margin: auto;
    }
}

.descripcion{
    text-align: justify;
}

.descripcion:hover{
    transform: scale(1.05);
}

#carrusel{
    box-shadow:  0 0 15px 10px rgba(255, 255, 255, 0.8);
    margin-top: 40px;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width:991px){
    #detalleDesarrollos{
        margin-top: 10px !important;
    }
    #detalleDesarrollos .badge{
        font-size: 0.9rem;
        padding: 5px;
        margin: 1px;        
    }
    .descripcion{
        margin-top: 0px !important;
        padding: 0px !important;
        font-size: 12px;
    }
}

#detalleDesarrollos .badge{
    font-size: 0.9rem;
    padding: 10px;
    margin: 3px;        
}

#detalleDesarrollos .badge:hover{
    transform: scale(1.1);       
}

.badge{
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 3px;
}

#Habilidades {
    background-color: #cac5c5;
    background-image: linear-gradient(249deg, #cac5c5 0%, #323236 50%, #000000 100%);
}

#Habilidades .card {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 768px) {
    #Habilidades .card{
        max-height: 370px;
    }
}

#Proyectos {
    background-image: url('/assets/img/programacion-fondo.png');
    background-size: cover;        
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#Proyectos .card{
    height: 245px;
}

  .icon-box,
  #BotonVerTestimonioUno,
  #BotonVerTestimonioDos {
    padding: 40px;
    transition: ease-in-out 0.3s;
    border: 1px solid rgb(53, 52, 52);
    border-radius: 10px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    overflow: hidden;
  }
  
  .icon-box i {
    font-size: 32px;
    line-height: 1;
    color: white;
  }
  
  .icon-box h3,
  #BotonVerTestimonioUno h6,
  #BotonVerTestimonioDos h6{
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
  }
  
  .icon-box h3,
  #BotonVerTestimonioUno h6,
  #BotonVerTestimonioDos h6{
    color: white;
  }
  
  .icon-box:hover,
  #BotonVerTestimonioUno:hover,
  #BotonVerTestimonioDos:hover {
    border-color: rgba(210, 210, 43, 0.779);
  }
  
  .icon-box:hover h3,
  .icon-box:hover i ,
  #BotonVerTestimonioUno:hover h6,
  #BotonVerTestimonioDos:hover h6{
    color: #ffc451;
  }

  .fadeModal {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    box-shadow:  0 0 15px 10px rgba(255, 255, 255, 0.8);
    background-color: black;
  }
  

@media (max-width:575px) {
    .imagen-pequena{
        max-width: 150px;
    }
    #Digimon .card{
        max-width: 200px;
    }
}


footer {
    background-color: black;
}


/* Digimon */
@font-face {
  font-family: 'DigimonFont';
  src: url('/assets/fonts/Digimon-Font/PixelDigivolve-mOm9.ttf') format('truetype');
}

.digimonFont {
  font-family: 'DigimonFont', sans-serif;
}

#Digimon{
  background-image: url('/assets/img/fondoDigimon.png');
  background-size: cover;        
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 575px){
  #Digimon h4{
    font-size: 25px !important;
  }
}

@media (max-width: 333px){
  #Digimon h4{
    font-size: 16px !important;
  }
}

/* Rick & Morty */
@font-face {
  font-family: 'RickMortyFont';
  src: url('/assets/fonts/Rick-and-Morty-Font/get_schwifty.ttf') format('truetype');
}

.rickMortyFont {
  font-family: 'RickMortyFont', sans-serif;
}

#RickMorty{
  background-image: url('/assets/img/fondoRickMorty.png');
  background-size: cover;        
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#RickMorty .card {
  background-color: transparent;
}

#RickMorty h4,
#RickMorty h1 {
  color: #00BFFF;
  text-shadow: 
    1px 1px 0 #39FF14,  
    2px 2px 0 #39FF14,  
    2px 2px 3px rgba(57, 255, 20, 0.3); 
}
#RickMorty .card{
  border: none;
}

#RickMorty .license-card {
    width: 100%;
    max-width: 400px;
    background-image: url('/assets/img/fondoLicenciaRickMorty.png');
    background-size: cover;
    background-position: center;
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    color: #333;
    overflow: hidden;
    margin: auto;
}

#RickMorty .card-header {
    background-color: #2a8b18;
    color: #00BFFF;
    text-shadow: 1px 1px 2px #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

#RickMorty .photo {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #000;
}

@media (max-width: 767px){
  #RickMorty .photo {
      width: 140px;
  }
}

#RickMorty .info-section .info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 18px;
}

#RickMorty .info-group label {
    font-weight: bolder;
    color: #003366;
    text-shadow: 1px 1px 2px #fff;
}

#RickMorty .info-group span {
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #fff;
}

#RickMorty .card-footer {
    background-color: #1b1c23;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#RickMorty .footer-info p {
    margin: 0;
    font-size: 0.875rem;
}

#RickMorty .barcode {
    margin-left: 20px;
}

/* Feriados */
#Feriados {
  background-image: url('/assets/img/fondoFeriado.png');
  background-size: cover;        
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#Feriados h1{
  color: white;
  text-shadow: 
  1px 1px 0 red,  
  2px 2px 0 blue,  
  2px 2px 3px rgba(0, 0, 255, 0.3); 
}

#feriadoModal .modal-content{
  width: 250px;
  margin: auto;
}

/* Sismos */
#Sismos{
  background-image: url('/assets/img/sismologia.png');
  background-size: cover;        
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@media (max-width: 450px){
  #MostrarSismos,
  #MostrarSismos h6{
    font-size: 11px !important;
  }
}

@media (max-width: 334px){
  #MostrarSismos,
  #MostrarSismos h6{
    font-size: 9px !important;
  }
}