nav {
    background: #0f0c29; background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

nav * {
    color: white !important;
}

.navbar-brand:hover,
.nav-link:hover {
    color: rgb(176, 161, 51) !important;
}

@media (max-width: 471px){
    .navbar-brand{
        display: none;
    }
    .navbar-toggler{
        margin: auto;
    }
}

.neon-text {
    color: #ffffff;
    text-shadow: 0 0 5px #ff77ff, 0 0 15px #ff77ff, 0 0 30px #ff007f, 0 0 60px #ff007f;
}

.neon-text:hover{
    color: white !important;
    transform: scale(1.1);
}

@media(max-width: 991px) {
    .navbar-collapse ul li{
        margin: auto !important;
    }
}

@media(min-width: 992px){
    #navbarNavDropdown{
        justify-content: end !important;
        padding-right: 45px;
    }
}

.hero {
    width: 100%;
    min-height: 60vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    background: #0f0c29; background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  }
  
  .hero h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
  }
  
  .hero p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }
  
  .hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 640px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .hero .btn-get-started,
    .hero .btn-watch-video {
      font-size: 13px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }

#SobreMi{
    background: #0f0c29; background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

@media (min-width: 992px){
    #SobreMi {
        height: 550px;
    }
}

@media (max-width: 991px) {
    #SobreMi .container{
        margin: auto;
        text-align: center;
    }
    #imagen-perfil{
        max-width: 450px;
        margin: auto;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    #imagen-perfil{
        max-width: 390px;
        margin: auto;
    }
    #BotonVerTestimonioUno,
    #BotonVerTestimonioDos{
        font-size: 12px;
    }
}

@media (min-width: 640px) and (max-width: 770px) {
    #SobreMi h1{
        font-size: 40px;
    }
    #imagen-perfil{
        max-width: 340px;
        margin: auto;
    }
}

@media (min-width: 491px) and (max-width: 640px) {
    #imagen-perfil{
        max-width: 290px;
        margin: auto;
    }
}
@media (max-width: 490px) {
    #SobreMi .descripcion{
        font-size: 15px;
    }
    #imagen-perfil{
        max-width: 250px;
        margin: auto;
    }
}
@media (max-width: 421px) {
    #SobreMi .descripcion{
        font-size: 15px;
    }
    #imagen-perfil{
        max-width: 230px;
        margin: auto;
    }
}
@media (max-width: 396px) {
    #SobreMi .descripcion{
        font-size: 11px;
    }
    #imagen-perfil{
        max-width: 210px;
        margin: auto;
    }
}

.descripcion{
    text-align: justify;
}

.descripcion:hover{
    transform: scale(1.05);
}

#carrusel{
    box-shadow:  0 0 15px 10px rgba(255, 255, 255, 0.8);
    margin-top: 40px;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width:991px){
    #detalleDesarrollos{
        margin-top: 10px !important;
    }
    #detalleDesarrollos .badge{
        font-size: 0.9rem;
        padding: 5px;
        margin: 1px;        
    }
    .descripcion{
        margin-top: 0px !important;
        padding: 0px !important;
        font-size: 12px;
    }
}

#detalleDesarrollos .badge{
    font-size: 0.9rem;
    padding: 10px;
    margin: 3px;        
}

#detalleDesarrollos .badge:hover{
    transform: scale(1.1);       
}

.badge{
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 3px;
}

#Conocimientos {
    background-color: #cac5c5;
    background-image: linear-gradient(249deg, #cac5c5 0%, #323236 50%, #000000 100%);
}

#Conocimientos .card {
    width: 100%;
    max-width: 300px;
}

@media (min-width: 768px) {
    #Conocimientos .card{
        max-height: 370px;
    }
}

#Proyectos{
    background-color: #21D4FD; background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

#Proyectos .card{
    height: 245px;
}

#BotonVerTestimonioUno,
#BotonVerTestimonioDos {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: #183153;
    color: whitesmoke;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    width: 250px;
  }
  
  #BotonVerTestimonioUno:hover,
  #BotonVerTestimonioDos:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  #BotonVerTestimonioUno:hover::before,
  #BotonVerTestimonioDos:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  #BotonVerTestimonioUno::before,
  #BotonVerTestimonioDos::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  #BotonVerTestimonioUno:active,
  #BotonVerTestimonioDos:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

  .fade {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-content {
    box-shadow:  0 0 15px 10px rgba(255, 255, 255, 0.8);
    background-color: black;
  }
  
  .animate-charcter
  {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #6a11cb 0%,
        #8a2be2 25%,
        #c471ed 50%,
        #f64f59 75%,
        #6a11cb 100%
      );
      
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 22px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

footer {
    background-color: black;
}